#!/bin/bash
#SBATCH --job-name=mean-std-IHC_<cochlea_job_name>
#SBATCH -t 00:30:00             # estimated time, adapt to your needs
#SBATCH --mail-user=<user_address> # change this to your mailaddress
#SBATCH --mail-type=FAIL        # send mail when job begins and ends

#SBATCH -p standard96s:shared         # the partition
#SBATCH -A <account_name>
#SBATCH -c 2
#SBATCH --mem 12G

source ~/.bashrc
micromamba activate <cochlea-net_environment>

# Run the script

SCRIPT_REPO=<flamingo_tools>
cd "$SCRIPT_REPO"/flamingo_tools/segmentation/ || exit

export SCRIPT_DIR=$SCRIPT_REPO/scripts

export INPUT=<data_dir>/<cochlea>/<cochlea_data>
export OUTPUT_FOLDER=<data_dir>/predictions/<cochlea>/<ihc_version>
export SEG_MASKING=<masking>
export INPUT_KEY=<input_key>
export ABSOLUTE_THRESHOLD=<ihc_masking_threshold>

echo "Input directory: ${INPUT}"
echo "Output directory: ${OUTPUT_FOLDER}"

if [ ! -d "$OUTPUT_FOLDER" ] ; then
	mkdir -p "$OUTPUT_FOLDER"
fi

cmd_array=(	'import sys,os;'
	'sys.path.insert(0,os.environ["SCRIPT_DIR"]);'
	'import unet_prediction;'
	'unet_prediction.run_unet_prediction_preprocess_slurm(input_path=os.environ["INPUT"],'
	'output_folder=os.environ["OUTPUT_FOLDER"],seg_class=os.environ["SEG_MASKING"],'
	'absolute_threshold=os.environ["ABSOLUTE_THRESHOLD"],'
	'input_key=os.environ["INPUT_KEY"])')
cmd="${cmd_array[*]}"
python -c "$cmd"

